<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#网络资源" data-toc-modified-id="网络资源-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>网络资源</a></span></li><li><span><a href="#Series-(序列)" data-toc-modified-id="Series-(序列)-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series (序列)</a></span></li><li><span><a href="#DataFrame-（数据帧）" data-toc-modified-id="DataFrame-（数据帧）-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrame （数据帧）</a></span></li></ul></div>

### 网络资源
https://www.jianshu.com/p/86e78d6b1862  
https://www.jianshu.com/p/04d180d90a3f  
http://pandas.pydata.org/pandas-docs/stable/cookbook.html

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

### Series (序列)

Series 是带有标签的一维数组，可以保存任何数据类型(整数，字符串，浮点数，Python对象等)； 轴标签统称为索引

这里，`data`可以是许多不同的东西：
> * Python dict
> * ndarray
> * 标量值

In [79]:
# 通过传递列表来创建Series

# pd.Series(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=list("ABCDEF"))
s

A    1.0
B    3.0
C    5.0
D    NaN
E    6.0
F    8.0
dtype: float64

In [80]:
# pd.date_range(start=None, end=None, periods=None, freq=None, tz=None, normalize=False,
#               name=None, closed=None, **kwargs)
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

### DataFrame （数据帧）

DataFrame是带有标签的二维数据结构，列的类型可能不同。可以把它想象成一个电子表格或SQL表，或者 Series 对象的字典。它一般是最常用的pandas对象。像 Series 一样，DataFrame 接受许多不同类型的输入

> * 一维数组，列表，字典或 Series 的字典
> * 二维 numpy.ndarray
> * 结构化或记录 ndarray
> * Series
> * 另一个 DataFrame

In [72]:
# 通过字典来创建 DataFrame

df2 = pd.DataFrame(
    {'A' : 1.,
     'B' : pd.Timestamp('20130102'),
      #'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
     'C' : pd.Series(1, index=list('A1B2'), dtype='float32'),
     'D' : np.array([3] * 4, dtype='int32'),
     'E' : pd.Categorical(['test', 'train', 'test', 'train']),
     'F' : 'foo'
    }
)
print df2.dtypes

df2

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

     A          B    C  D      E    F
A  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
B  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3  train  foo

In [67]:
# 使用numpy矩阵来创建一个DataFrame，并指定index和column

# pd.DataFrame(self, data=None, index=None, columns=None, dtype=None, copy=False)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.head(2)         # 查看前2行数据
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.tail(2)         # 查看后2行数据
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.index           # 显示行号
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.columns         # 显示列号
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.values          # 显示值
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.describe()      # 显示统计数据
# print '-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-'
# print df.T               # 转置数据

                   A         B         C         D
2013-01-01  0.627825 -1.616918 -0.006788 -1.415149
2013-01-02  0.432170  1.006456 -1.293684  2.544772
2013-01-03 -0.889224  0.597732  0.577363  2.290629
2013-01-04 -0.500051  1.107704  0.270999 -0.022453
2013-01-05 -1.807229 -0.909051 -0.771422  0.834774
2013-01-06  1.276446 -0.186955 -1.373610  1.098402

In [66]:
# 查看前2行数据

df.head(2)

                   A         B         C         D
2013-01-01  0.874657 -0.966868  0.499567  0.850980
2013-01-02  0.783856 -0.381143  1.290624  0.041766

In [65]:
# 查看后2行数据

df.tail(2)

                   A         B         C         D
2013-01-05  1.645235 -1.008540 -1.266524  1.070911
2013-01-06  0.403753 -1.129222  0.932033  0.013987

In [64]:
# 显示行号

df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [63]:
# 显示列号

df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [62]:
# 显示值

df.values

array([[ 0.87465747, -0.96686802,  0.49956691,  0.85097996],
       [ 0.7838564 , -0.38114258,  1.29062435,  0.0417657 ],
       [-0.89428256, -1.83755198, -0.41991472,  0.14392204],
       [ 1.08561679, -1.17118815,  2.12850607, -0.52336756],
       [ 1.64523512, -1.00853973, -1.26652438,  1.07091105],
       [ 0.40375337, -1.12922221,  0.9320325 ,  0.0139872 ]])

In [61]:
# 显示统计数据
# df.describe(percentiles=None, include=None, exclude=None)

df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.649806 -1.082419  0.527382  0.266366
std    0.859545  0.467096  1.218698  0.590234
min   -0.894283 -1.837552 -1.266524 -0.523368
25%    0.498779 -1.160697 -0.190044  0.020932
50%    0.829257 -1.068881  0.715800  0.092844
75%    1.032877 -0.977286  1.200976  0.674215
max    1.645235 -0.381143  2.128506  1.070911

In [60]:
# 转置数据

df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.874657    0.783856   -0.894283    1.085617    1.645235    0.403753
B   -0.966868   -0.381143   -1.837552   -1.171188   -1.008540   -1.129222
C    0.499567    1.290624   -0.419915    2.128506   -1.266524    0.932033
D    0.850980    0.041766    0.143922   -0.523368    1.070911    0.013987

In [59]:
# 按轴排序
# df.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', 
#               na_position='last', sort_remaining=True, by=None)

df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.850980  0.499567 -0.966868  0.874657
2013-01-02  0.041766  1.290624 -0.381143  0.783856
2013-01-03  0.143922 -0.419915 -1.837552 -0.894283
2013-01-04 -0.523368  2.128506 -1.171188  1.085617
2013-01-05  1.070911 -1.266524 -1.008540  1.645235
2013-01-06  0.013987  0.932033 -1.129222  0.403753

In [58]:
# 按值排序
# df.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -0.894283 -1.837552 -0.419915  0.143922
2013-01-04  1.085617 -1.171188  2.128506 -0.523368
2013-01-06  0.403753 -1.129222  0.932033  0.013987
2013-01-05  1.645235 -1.008540 -1.266524  1.070911
2013-01-01  0.874657 -0.966868  0.499567  0.850980
2013-01-02  0.783856 -0.381143  1.290624  0.041766

In [71]:
# 选择单列，产生一个Series序列，等价于df.A

df['A']
#df.A

2013-01-01    0.627825
2013-01-02    0.432170
2013-01-03   -0.889224
2013-01-04   -0.500051
2013-01-05   -1.807229
2013-01-06    1.276446
Freq: D, Name: A, dtype: float64

In [70]:
# 使用[]选取某几行的数据

df[0:3]
#df['20130102' : '20130104']

                   A         B         C         D
2013-01-01  0.627825 -1.616918 -0.006788 -1.415149
2013-01-02  0.432170  1.006456 -1.293684  2.544772
2013-01-03 -0.889224  0.597732  0.577363  2.290629

In [73]:
# 使用标签获取横截面数据

df.loc[dates[0]]

A    0.627825
B   -1.616918
C   -0.006788
D   -1.415149
Name: 2013-01-01 00:00:00, dtype: float64

In [75]:
# 使用标签选择多轴数据

df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.627825 -1.616918
2013-01-02  0.432170  1.006456
2013-01-03 -0.889224  0.597732
2013-01-04 -0.500051  1.107704
2013-01-05 -1.807229 -0.909051
2013-01-06  1.276446 -0.186955

In [76]:
# 使用标签选择区域数据(包含两个端点)

df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  0.432170  1.006456
2013-01-03 -0.889224  0.597732
2013-01-04 -0.500051  1.107704

In [77]:
# 使用标签获取具体数据

df.loc[dates[0], 'A']

0.6278247499549321

In [78]:
# 快速获取数据的方法 （等价于上述方法）

df.at[dates[0], 'A']

0.6278247499549321